<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Comedians</title>
</head>
<body>
    <h1>Comedians</h1>

<form>
    <label for="state"> Select Comedians by State:</label>
    <input type="text" id="state" name="state placeholder="Enter State...">
    <button type="Sumbit">Filter</button>
</form>

    <ul>
        <% comedians.forEach(comedian=> {%> 
            <li>
            <%= comedian.stagename %> - <%= comedian.state %> - Joke: <%= comedian.joke %>
                </li>
                <% }) %>
    </ul>
</body>
</html>